@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-wrapper{
    background: white;
    position: sticky;
    top: 0;
}

.header {
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 15%;
}

.header img {
    margin: 10px 0;
    width: 53px;
    height: 53px;
}

.header nav, .nav-toggle {
    margin: 10px 0;
}

.header nav button {
    padding: 5px 10px;
    border: none;
    background: white;
    color: #868686;
    border-radius: 2px;
    font-size: 14px;
}

.nav a{
    color: #868686;
    text-decoration: none;
}

button {
    cursor: pointer;
}

.header nav button:hover {
    background: #ffbb42;
    color: white;
}

.nav-toggle {
    display: none;
}

.banner {
    padding: 0;
    width: 100%;
    background: #709dca;
}

.banner-text {
    margin: 90px 5% 20px 5%;
    color: white;
    text-align: center;
}

.banner-text h1 {
    font-size: 2em;
}

.banner-text p {
    margin: 0;
}

.banner-inputs, .newsletter-inputs {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.banner-inputs-item1, .newsletter-inputs-item1 {
    background: url(img/user.jpg) no-repeat 10px white;
}

.banner-inputs-item2, .newsletter-inputs-item2 {
    background: url(img/email.jpg) no-repeat 10px white;
}

.banner-inputs-item3 {
    background: url(img/phone.jpg) no-repeat 10px white;
}

.banner-inputs-item1, .banner-inputs-item2, .banner-inputs-item3, .newsletter-inputs-item1, .newsletter-inputs-item2 {
    width: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    border: none;
    text-align: left;
    border-radius: 2%; 
    height: 30px;
    outline: none;
    padding: 5px 5px 5px 30px;
    margin: 5px;
}

.banner-inputs button, .newsletter-inputs button {
    width: 285px;
    height: 40px;
    background: #ffbb42;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    border: none;
    border-radius: 2%;
    margin: 5px;
}

.slider {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.slider-point {
    width: 4%;
    margin: 100px 48% 0px 48%;
    display: flex;
    justify-content: space-between;
}

.circle-slider {
    width: 15px;
    height: 15px;
    background: white;
    border: 2px solid #dedfe0;
    border-radius: 50%;
    transition: .5s;
}

.active {
    border: 2px solid #20aade;
}

.circle-slider:hover {
    border: 2px solid #20aade;
    transition: .5s;
}

.slider-img {
    width: 40%;
    margin-bottom: -75px;
}

.service {
    margin: 150px 15%;
    color: #394b50;
}

.service-text, .service-text p{
    text-align: center;
    margin: 0;
}

.service-items {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-item {
    width: 45%;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.service-item img {
    width: 50px;
    height: 50px;
}

.service-item-text {
    margin-left: 5%;
}

.service-item-text p {
    margin-top: 2%;
    font-size: 15px;
}

.about-us {
    width: 100%;
    background: #ffbb42;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-us img {
    width: 70%;
}

.about-us-text {
    width: 40%;
    margin: auto 15% auto 4%;
}

.about-us-text h2, p, button {
    margin: 20px 0;
}

.about-us-text button {
    background: #ffbb42;
    color: white;
    padding: 10px 20px;
    border: 1px solid #e9af49; 
    border-radius: 2%;
}

.price-list {
    background: #e7edf3;
    color: #394b50;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.price-list-text {
    margin-top: 150px;
}
.price-list-text p{
    margin: 0;
}

.plans {
    width: 60%;
    height: 500px;
    margin: 70px 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.plans-item {
    width: 30%;
    height: 400px;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 2%;
    text-align: center;
    color: #b5bbc1;
    margin: auto 5px;
    transition: 1s;
}

.plans-item-title {
    font-size: 24px;
    font-weight: 300;
    color: #818b95;
    transition: 1s;
}

.price {
    color: #ffbb42;
    font-size: 54px;
    font-weight: 700;
    margin: 0;
}

.price-month {
    font-size: 14px;
    color: #818b95;
    margin: 0 0 30px 0;
}

.plans-item button {
    background: #ffbb42;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 2%;
}


.dollar-sign {
    font-size: 28px;
    vertical-align: top;
}

.plans-item hr {
    width: 80%;
    margin: auto;
    color: rgba(0, 0, 0, .2);
}

.plans-item-text p{
    font-size: 14px;
    margin: 10px;
}

.plans-item:hover{
    width: 33%;
    height: 450px;
    background: #709dca;
    color: white; 
    transition: 1s;
}

.plans-item:hover p {
    color: white;
}

.plans-item:hover .plans-item-title {
    transition: 1s;
    margin-top: 45px;
}

.how-it-works {
    margin: 0 15%;
    width: 70%;
    color: #394b50;
}

.how-it-works-text{
    text-align: center;
    margin-top: 100px;
}

.how-it-works-text p {
    margin: 0;
}

.arrow-top {
    margin: 100px 23% 0 23%;
    display: flex;
    justify-content: space-between;
}

.how-it-works-items {
    margin: 0 15%;
    display: flex;
    justify-content: space-between;
}

.arrow-bottom {
    display: flex;
    justify-content: center;
}

.how-it-works-items-text {
    text-align: center;
    margin: 70px 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.items-text {
    margin: 0 4%;
}

.items-text p {
    font-size: 14px;
}

.how-it-works-button {
    display: flex;
    justify-content: center;
}

.how-it-works-button button{
    background: #ffbb42;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 3%;
}

.happy-clients {
    margin: 100px 0;
    background: #ffc155;
    color: white;
}

.happy-clients-text {
    text-align: center;
    margin: 100px 0 0 0;
}

.happy-clients-text p {
    margin: 0;
}

.happy-clients-items {
    width: 80%;
    margin: 50px 10% 150px 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.happy-clients-item {
    width: 45%;
    display: flex;
    flex-direction: row;
    background: white;
    color: #7b7b7b;
    padding: 50px 25px;
    margin: 10px 0;
    border-radius: .5%;
}

.happy-clients-item img {
    width: 50%;
    height: 70%;
}

.happy-clients-item-text p{
    text-align: left;
    margin: 0 5%;
}

.person-name {
    margin: 5% 0;
    color: #f78d58;
}

.position {
    color: #99a9ae;
}

.newsletter {
    margin: 0 15%;
}

.newsletter-text {
    text-align: center;
    color:#394b50;
}

.newsletter-text p {
    margin: 0;
}

.newsletter-content {
    margin: 50px 0;
    background-image: url(img/map.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-origin: content-box;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.circle-information {
    margin: 3.5% 40%;
    padding: 5% 4%;
    width: 15%;
    background: #394b50;
    text-align: center;
    border-radius: 50%;
}

.circle-information p {
    margin: 5px 0;
    color: #a2abae;
    font-size: 14px;
}

.circle-information h4 {
    color: white;
    margin-bottom: 10px;
}

.mail {
    color: #ffbb42;
}

.newsletter img {
    margin: 0 49%;
}

.just-empty {
    margin: 130px;
}

.newsletter hr {
    margin: 0;
    color:rgba(0, 0, 0, .2);
}

.contacts {
    margin: 70px 15%;
    color: #394b50;
}

.contacts-buttons {
    width: 60%;
    margin: 0 20%;
    display: flex;
    flex-direction:  row;
    justify-content: space-between;
}

.contacts-buttons p {
    cursor: pointer;
}

.telephone-number {
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 22px;
}

.telephone-number img {
    width: 16px;
    height: 17px;
    padding-top: 6px;
    margin-right: 7px;
}

.telephone-number p {
    margin: 0;
}

.social-networks {
    display: flex;
    justify-content: center;
}

.social-networks img {
    margin: 0 8px;
}

@media (max-width: 1100px) {

    .header {
        margin: 0 5%;
    }

    .nav-toggle {
        position: absolute;
        right: 5%;
        top: 25%;
        display: block;
        color: #868686;
        cursor: pointer;
    }

    .nav-toggle:hover {
        color: #709dca;
    }

    .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 2%;
        top: 25%;
        background: white;
        color: #868686;
        border: rgba(0, 0, 0, .2);
        border-radius: 2%;
        box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
    }

    .nav-toggle-buttons p {
        margin: 15px;
        cursor: pointer;
    }

    .nav-toggle-buttons a {
        color: #868686;
        text-decoration: none;
    }

    .nav-toggle-buttons p:hover {
        color: #709dca;
    }

    .header nav {
        display: none;
    }

    .banner-text {
        margin-top: 40px;
    }

    .slider-img {
        margin-bottom: -40px;
    }

    .slider-point {
        width: 6%;
        margin: 60px 47% 0px 47%;
    }

    .circle-slider {
        width: 10px;
        height: 10px;
    }

    .service {
        margin: 150px 15% 0 15%;
        color: #394b50;
        margin-bottom: 150px;
    }

    .service-text {
        margin-bottom: 30px;
    }

    .about-us img {
        width: 50%;
    }

    .about-us-text {
        width: 40%;
        margin: auto 13% auto 7%;
    }

    .price-list {
        color: #394b50;
        text-align: center;
    }

    .price-list-text {
        margin-top: 70px;
    }

    .plans {
        width: 90%;
        margin: 70px auto;
        display: flex;
        flex-wrap: wrap;
    }

    .how-it-works {
        margin: 0 5%;
        width: 90%;
    }
    
    .arrow-top {
        margin: 100px 20% 0 20%;
    }
    
    .how-it-works-items {
        margin: 0 10%;
    }
    
    .how-it-works-items-text {
        margin: 70px 2%;
    }

    .happy-clients-items {
        width: 90%;
        margin: 50px 5% 150px 5%;
    }
    
    .happy-clients-item {
        width: 43%;
        padding: 50px 25px;
        margin: 10px 0;
    }

    .happy-clients-item img {
        width: 100%;
        height: 40%;
    }

    .newsletter {
        margin: 0 5%;
    }

    .newsletter-content {
        padding: 0 10%;
    }
    
    .circle-information {
        margin: 3.5% 37%;
        width: 20%;
    }
    
    .newsletter img {
        margin: 0 48%;
    }
    
    .just-empty {
        margin: 55px;
    }
    
    .contacts {
        margin: 50px 5%;
        color: #394b50;
    }
    
    .contacts-buttons {
        display: none;
    }
    
}

@media (max-width: 834px) {

    .slider-img {
        width: 60%;
        margin-bottom: -50px;
    }

    .service {
        margin: 150px 5% 0 5%;
    }

    .about-us {
        margin-top: 40px;
    }

    .about-us-text {
        margin: auto 5% auto 8%;
    }

    .plans {
        width: 100%;
        margin: 70px 0;
    }

    .how-it-works {
        margin: 0 5%;
        width: 90%;
    }
    
    .arrow-top {
        margin: 100px 15% 0 15%;
    }

    .arrow-top img {
        width: 100px;
        height: 25px;
    }

    .arrow-bottom img {
        width: 100px;
        height: 25px;
    }

    .how-it-works-items img {
        width: 60px;
        height: 60px;
    }
    
    .how-it-works-items {
        margin: 0 5%;
    }
    
    .how-it-works-items-text {
        margin: 70px 0 40px 0;
    }

    .items-text:first-child {
        margin-left: 0;
    }

    .items-text:last-child {
        margin-right: 0;
    }

    .items-text {
        margin: 5%;
    }
    
    .happy-clients-item {
        width: 41%;
        padding: 35px 25px;
        margin: 10px 0;
        font-size: 12px;
    }
    
    .circle-information {
        margin: 3.5% 35%;
        width: 25%;
    }
    
    .newsletter img {
        margin: 0 48%;
    }
    
    .just-empty {
        margin: 10px;
    }
    
}

@media (max-width: 500px) {

    .header img {
        width: 43px;
        height: 43px;
    }

    .slider-img {
        margin-bottom: -25px;
    }

    .slider-point {
        width: 14%;
        margin: 60px 42% 0px 42%;
    }

    .circle-slider {
        width: 12px;
        height: 12px;
    }

    .service {
        margin: 130px 5% 0 5%;
        color: #394b50;
        margin-bottom: 50px;
    }

    .service-item {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 50px;
    }

    .about-us img {
        display: none;
    }

    .about-us-text {
        width: 100%;
        margin: 50px 10%;
        text-align: center;
    }

    .plans {
        width: 100%;
        margin: 50px 0;
    }

    .left-scrolling, .right-scrolling {
        width: 50px;
        height: 50px;
        background: red;
    }

    .plans-item {
        width: 30%;
        height: 280px;
    }
    
    .plans-item-title {
        font-size: 14px;
    }
    
    .price {
        font-size: 34px;
    }
    
    .price-month {
        font-size: 8px;
    }
    
    .plans-item button {
        padding: 5px 10px;
        font-size: 8px;
    }
    
    .dollar-sign {
        font-size: 22px;
    }
    
    .plans-item-text p{
        font-size: 10px;
        margin: 5px;
    }

    .how-it-works-text {
        margin-top: 70px;
    }
    
    .arrow-top {
        margin: 50px 14% 0 14%;
    }

    .arrow-top img {
        width: 80px;
        height: 20px;
    }

    .arrow-bottom img {
        width: 80px;
        height: 20px;
    }

    .how-it-works-items img {
        width: 40px;
        height: 40px;
    }
    
    .how-it-works-items {
        margin: 0 4%;
    }
    
    .how-it-works-items-text {
        margin: 20px 0 20px 0;
    }

    .items-text {
        margin: 5%;
    }

    .items-text p {
        font-size: 10px;
    }

    .happy-clients-items {
        width: 90%;
        margin: 50px 5% 100px 5%;
    }
    
    .happy-clients-item {
        width: 90%;
        padding: 30px 15px;
        margin: 10px 0;
    }

    .happy-clients-item img {
        width: 60%;
        height: 50%;
    }

    .newsletter-content {
        background-image: none;
    }

    .circle-information {
        padding: 10% 5%;
        margin: 3.5% 20%;
        width: 50%;
    }
    
    .newsletter img {
        margin: 0 44%;
    }
    
    .just-empty {
        margin: 10px;
    }
    
    .contacts {
        margin: 5px 0%;
        color: #394b50;
    }

}

.show {
    display: block;
}

.hide {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.1
    }

    to {
        opacity: 1;
    }
}
