@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 15%;
    display: flex;
    font-family: 'Lato', sans-serif;
}

header {
    height: 100px;
}

header img {
    position: absolute;
    left: 15%;
    margin: 25px 0;
}

header nav {
    position: absolute;
    right: 15%;
    margin: 28.5px 0;
}

header nav button {
    padding: 5px 10px;
    border: none;
    background: white;
    color: #868686;
    border-radius: 2px;
    font-size: 11px;
}

header nav button:hover {
    background: #ffbb42;
    color: white;
}
